@font-face {
  font-family: 'Source Sans 3'; /* Replace 'YourFontName' with the desired font name */
  src: url('SourceSans3.ttf') format('truetype'); /* Change the path to your font file */
  font-weight: bold;
  font-style: normal;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #dee2e5;
  height: 100%;

}

.website-title{
  margin: 0;
  padding: 0;
}


.clear-button {
  align-items: center;
  background-color: #ffc72c;
  border-radius: 2rem;
  color: #000000;
  display: flex;
  flex-shrink: 0;
  font-family: 'Source Sans 3', Montserrat;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 1.25;
  margin: 0rem 39.884rem 0rem 41.802rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 81.6854rem);
}

.title-box {
  background-color: #2774ae;
  margin-top: 2%;
  margin-bottom: 0;
  height: 5rem;
  width: 40%;
  border-radius: 5rem;  
  padding: 0;
  margin-left: 30%;
  position: relative; /* Add position relative */
  display: flex;
  align-items: center; /* Center vertically */
  text-align: center;
}

.date-title {
  font-family: 'Source Sans 3', Montserrat;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  position: absolute; /* Position the text absolutely */
  left: 0; /* Position the text to the left */
  right: 55%; /* Make the text take up the remaining space */
  margin: 0; /* Remove default margins */
}

.meals-body{
  margin-top: -2.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
  background-color: #DAEBFE;
  width: 40%;
  
  justify-content: center;
  min-height: 100px;
}

.title-padding{
  width: 100%;
  padding-top: 2.5rem;
}